.table {
        display: table;
        width: 100%;
    }
    .td {
        //display: table-cell;
        //padding: 5px;
    }

    input[type="checkbox"] {
        //position: absolute;
	visibility: hidden;
	width: 0%;
	height: 0%;
	margin: 0 0 7px;
        clip: rect(0 0 0 0);
    }
    .check-in,
    .check-out {
        //color: #34538b;
        cursor: pointer;
    }
    .check-out {
        display: none;
    }
    :checked ~ .check-out {
        display: inline-block;
    }
    :checked ~ .check-in {
        display: none;
    }

    .element {
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s;
    }

    :checked ~ .element {
      max-height: 3000px;
    }
